@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --greyish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

@layer base {
    body {
        font-family: "Rubik", serif;
    }
    .button-li button:hover{
        cursor: pointer;
    }

        .nav-links > ul>li:not(.button-li)::after,
        .nav-links>ul>li:first-child::before{
            content: '';
            display:block;
            margin-inline: auto;
            width: 90%;
            background-color: var(--greyish-blue);
            height: 1px;
            margin-block:0.5rem;
        }
        .nav-links ul>li:hover{
            cursor: pointer;
        }

        .tab-links>ul>li::after,
        .tab-links>ul:first-child::before{
            content: '';
            display:block;
            margin-inline: auto;
            width: 90%;
            background-color: var(--greyish-blue);
            height: 1px;
            margin-block:0.5rem;
        }
        @media (width>=768px){
            .tab-links>ul:first-child::before{
                content: '';
                display: none;
            }
        }
        .tab-links>ul>li:hover{
            cursor: pointer;
        }
       

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}